.ad {
	width: 100%;
	background-image: -webkit-gradient(linear, left top, right top, from(#f9f9ff), to(#dee8ff));
	background-image: linear-gradient(90deg, #f9f9ff, #dee8ff);
	margin-top: 80px;
	height: 50px;
	background-color: black;
}

.mid_1_3 {
	position: relative;
	left: -15px;
}

.display {
	display: flex;
}

.picsdisplay {
	padding-left: 2rem;
	padding-top: 2rem;
	background-size: cover;
}

.imagemain {
	border-radius: 8px;
	margin: 0 auto;
	transition: 0.5s all ease-in-out;
	overflow: hidden;
	cursor: zoom-in;

}

.imagemain:hover {
	transform: scale(1.1);

}

.detailsdisplay {

	margin-top: 2rem;
	padding-left: 2rem;
	padding-right: 2rem;

	position: absolute;
	width: 50%;
	right: 0px;

}

@media only screen and (max-width: 800px) {
	.detailsdisplay {
		width: 100%;
		position: absolute;
		top: 40rem;
	}
}

.namebrand {
	color: #282c3f;
	font-size: 24px;
	font-weight: 500;
	line-height: 1;
	padding-bottom: 1rem;

}

.namefilter {
	color: #535665;
	font-size: 20px;
	font-weight: 400;
	border-bottom: lightgrey solid 1px;
	padding-bottom: 1rem;
}

.discountcolor {
	color: orange;
}

.nameprice {
	margin-top: 1rem;
}

.incofalltaxes {
	margin-top: 1rem;
	color: green;
}

.namesize {
	display: inline-block;
	font-size: 16px;
	margin: 0;
	font-weight: 500;
	margin-top: 1rem;
}

.size-buttons-size-button-default {
	background-color: #fff;
	border: 1px solid #bfc0c6;
	border-radius: 50px;
	padding: 0;
	min-width: 50px;
	height: 50px;
	text-align: center;
	cursor: pointer;
	color: #282c3f;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	position: relative;
	margin-top: 1rem;
	display: flex;
	padding-right: 20px;
	padding-top: 5px;
}

@media only screen and (max-width: 768px) {
	.size-buttons-size-button-default {
		background-color: #fff;
		border: 1px solid #bfc0c6;
		padding: 0;
		width: 10px;
		text-align: center;
		cursor: pointer;
		color: #282c3f;
		position: relative;
		display: flex;
		padding-right: 20px;
		padding-top: 5px;
	}
}

.buttons {
	display: flex;
	justify-content: space-evenly;
}

.Buttonsaddandwish {
	margin-top: 1rem;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding-bottom: 1rem;
	border-bottom: lightgrey solid 1px;
}

.addtobag {

	background-color: #ff3e6c;
	box-sizing: inherit;
	height: 3rem;
	width: 15rem;
	cursor: pointer;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	font-weight: bold;
	color: #fff;
	margin-right: 1rem;
}

.wishlist {
	font-weight: bold;
	height: 3rem;
	width: 12rem;
	border: lightgrey solid 1px;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	cursor: pointer;
}

div.addtobag:hover {
	background-color: #f595aa;
}

div.wishlist:hover {
	border: black solid 1px;
}

.addtobagname {
	position: absolute;
	left: 2rem;
}

.wishlistname {
	position: absolute;
	left: 2rem;

}

.deliveryoptions {

	margin-top: 1rem;
}

.full-image {
	position: relative;
	top: 0px;
	cursor: zoom-in;
	width: 800px;
}

.wholeimage {
	overflow-y: scroll;
	overflow-x: scroll;
	width: 60%;
	height: 82%;
	position: absolute;
	border: #dee8ff solid 1px;
	top: 0px;
}

#closebutton {
	position: absolute;
	right: 8.5rem;
	top: 0rem;
}

.documentofimage {
	position: absolute;
	z-index: 700;
	width: 100%;
	height: 50rem;
	background-color: rgba(53, 51, 51, 0.5);
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	visibility: hidden;
	top: -0.1rem;
}


@media only screen and (max-width: 768px) {
	.documentofimage {
		position: absolute;
		z-index: 700;
		width: 100%;
		height: 90rem;
		background-color: rgba(53, 51, 51, 0.5);
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		visibility: hidden;
		/* top: -0.1rem; */
	}
}


@media only screen and (max-width: 768px) {
	#closebutton {
		position: absolute;
		right: 2rem;
		top: 0rem;
	}
}