*{
  box-sizing: border-box;
}

.rightpane{
  position: absolute;
  left: 0px;;
  width: 100%;
  top: 281px;
  background-color: red;

}
.leftpane{
  position: absolute;
  left: 0px;
  width: 20%;
  min-width: 9rem;

}
