.header{
    background-color: white;
    z-index: 2;
    position: fixed;
    margin: auto;
    min-width: 100%;
    line-height: 80px;
    box-shadow: 0 4px 12px 0 rgba(0,0,0,.05);
    display: flex;
    top: 0;
    /* align-items: center; */
    /* justify-content: space-evenly; */
    z-index: 500;
}
.firstbox{
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    left:0px;
}
.secondbox{
    position: relative;
    left:150px;
    width: 50%;
    right:0rem;
}

.header_6{
    border-radius: 0 4px 4px 0;
    border-left: 0;
    background: #f5f5f6;
    height: 20px;
    line-height: 24px;
    width: 50%;
    color: #696e79;
    box-sizing: content-box;
    padding: 8px 10px 10px;
    margin: 0;
    outline: 0;
    border: 1px solid #f5f5f6;
    border-left-color: rgb(245, 245, 246);
    border-left-style: solid;
    border-left-width: 1px;
    margin-top: 0;
}
.desktop-logo{
    
    width: 80px ;
    left:0px;
}
.header_1 .header_2 .header_3 .header_4 .header_5{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}
.header_1>*{
    font-weight: 600;
}
.header_2>*{
    font-weight: 600;
} 
.header_3>* {
    font-weight: 600;
}
.header_4>* {
    font-weight: 600;
}
.header_5>*{
    font-weight: 600;
}
.header_6{
    border: 0px;
}
.header_6:focus{
    outline:none;
}
.myntraweb-sprite {
    background: url(https://constant.myntassets.com/web/assets/img/MyntraWebSprite_27_01_2021.png);
    background-size: 1404px 105px;
    cursor: pointer;
}
.sprites-headerBag {
    width: 22px;
    height: 22px;
    background-position: -341px -56px;
    padding-top: 5px;
    
}
.sprites-headerWishlist {
    width: 17px;
    height: 22px;
    background-position: -315px -187px;
}
#modal{
    visibility: hidden;
    /* min-width: 5rem; */
    
}
.thirdbox{
    display: flex;
    align-items: center;
}
.bag{
    width: 4rem;
    cursor: pointer;
    z-index: 500;
}
#modal-description{
    width: 20rem;
}

.desktop-userTitle {
    color: #000;
    position: absolute;
    bottom: 4px;
    right: 2.7%;
    width: 1.5rem;
    font-size: 12px;
    font-weight: 500;
    display: inline-block;
    padding-top: 10px;
    line-height: 6px;
    padding-bottom: 1rem;
}
.p-heading-icon__header{
    border-top: grey solid 1px;
}
.nameremove{
    color:red;
    cursor: pointer;
}