.ad{
    width: 100%;
    background-image: -webkit-gradient(linear,left top,right top,from(#f9f9ff),to(#dee8ff));
    background-image: linear-gradient(90deg,#f9f9ff,#dee8ff);
    margin-top:80px;
    height: 50px ;
    background-color: black;
}
.referrals-banner-loyalty-points-block{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.referrals-banner-bannerImg{
    width: 40px;
    height: 40px;
}
.referrals-banner-loyalty-points-nonLoggedIn{
    display: flex;
}
.mid_1{
    margin-top: 5px;
    margin-left: 20px;
    font-family: Helvetica,Arial,sans-serif;
}
.mid_1_3{
    font-weight: 500;
}
.mid_2{
    margin-top: 10px;
    margin-left: 20px;
    font-family: Helvetica,Arial,sans-serif;
}
.mid_3_1{
    
    font-weight: bold;
    width: 15%;
    margin-left:20px
}
@media screen and (max-width:900px) {
    .mid_3_1{
        position: absolute;
        left:0px;
        font-weight: bold;
        width: 15%;
        margin-left:1rem;
    }
}
.mid_3_2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 60%;
}
.mid_3{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 30px;
    padding-bottom: 20px;
    border-bottom: lightgrey solid 0.1px;
}
.sort-sortBy .betdis{
    font-weight: bold;
}
.sort-sortBy span{
    text-transform: capitalize;
    font-weight: 500;
    color: #282c3f;
}
.myntraweb-sprite {
    background: url(https://constant.myntassets.com/web/assets/img/MyntraWebSprite_27_01_2021.png);
    background-size: 1404px 105px;
    display: inline-block;
}
.dropdown{
    right:2px;
}
.mid_3_3{
    display: absolute;
    display: inline-block;
    margin-right: 5vh;
    margin-bottom: 0;
    margin-top: -7px;
    position: relative;
    right: 0px;
    top: 5px;   
    
}

@media screen and (max-width: 768px) {
    .mid_3_3{ 
        display: inline-block;
        margin-right: 16vh;
        margin-bottom: 0;
        margin-top: -7px;
        position: relative;
        top: 5px; 
        right: 0px;
    }
}
.menu{
    position: absolute;
    display: inline-block;
    height: 241px;
    margin-right: 6vh;
    right: 0px;
    width:  255px;
    top: 265px;
    border: lightgrey solid 0.1px;
    visibility: hidden;
    z-index: 500;
}
@media screen and (max-width: 768px) {
    .menu{ 
        position: absolute;
        display: inline-block;
        height: 241px;
        margin-right: 1vh  ;
        right: 0px;
        width:  255px;
        top: 282px;
        border: lightgrey solid 0.1px;
        visibility: hidden;
        z-index: 500;
    }
}
  
@media screen and (max-width: 900px) {
    .mid_3_2{
        visibility: hidden;
    }
}
.sort-sortBy {
    padding: 9px 14px;
    font-size: 14px;
    width: 255px;
    color: #282c3f;
    cursor: pointer;
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 2px;
    background-color: #fff;
    border: 1px solid #d4d5d9;
}

.Example.of.a.sortable.table{
    border-color: grey;
    border-radius: 1px;
}
th:hover{
    background-color: lightgrey;
}
.tablevalues{
    cursor: pointer;
    background-color: #fff;
}